@charset "UTF-8";

header{height:100px; background-color: #c9c9c9;}
.content{min-height:500px;}

footer{height:100px; background-color: #c9c9c9;}

.sign-up-box {width:650px; background-color:#F4FCFD; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

.shadow-box {width:550px; background-color:#F4FCFD; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.login-box {width:400px;}

.contents-box {width:650px;}
#writeTextArea {height:100px;}

.contents-box {width:650px;}
#writeTextArea {height:100px;}

.pfp-cropper {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.box{
	position:relative;
	aspect-ratio : 1 / 1;
	width:30%;
	background-color: #dadada;
	margin: 14px;
}
