@charset "UTF-8";

header{height:100px; background-color: #c9c9c9;}
.content{min-height:500px;}

footer{height:100px; background-color: #c9c9c9;}

.sign-up-box {width:650px; background-color:#F4FCFD; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.sign-up-subject {margin:20px; font-weight:bold;}

.shadow-box {width:550px; background-color:#F4FCFD; margin-top:20px; box-shadow:5px 5px 5px 5px #BDC0C0;}
.login-box {width:400px;}

.contents-box {width:650px;}
#writeTextArea {height:100px;}

.contents-box {width:650px;}
#writeTextArea {height:100px;}

/* .pfp-cropper {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
} */

.box{
	position:relative;
	aspect-ratio : 1 / 1;
	width: 30%;
	background-color: #dadada;
	margin-left: 2.5%;
	margin-bottom: 2.5%;
}

/* .image-cropper2 {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
} */

/* Reference: https://memostack.tistory.com/260 
   이미지 정사각형으로 자르기 */
#img-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

#img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
}

.img-wrapper2 {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img-wrapper2 img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
}

#img-wrapper3 {
    position: relative;
    width: 200px;
    height: 200px;
}

#img-wrapper3 img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
}
